[submodule "vendor/submodules/less-css-mode"]
	path = vendor/submodules/less-css-mode
	url = https://github.com/purcell/less-css-mode.git
[submodule "vendor/submodules/coffee-mode"]
	path = vendor/submodules/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/submodules/rainbow-mode"]
	path = vendor/submodules/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "vendor/submodules/php-mode"]
	path = vendor/submodules/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "vendor/submodules/haskell-mode"]
	path = vendor/submodules/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
